body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

img {
    border-radius: 50px;
    width: 300px;
}

.title {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
  }

.instructions {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 1;
}
/* 

.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-container > div {
    width: 350px;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
  }

ul {
    list-style-type: none;
}

/* display: flex;
align-items: center;
justify-content: center; */ 